@{
    ViewData["Title"] = "Dashboard";
    @model Midas.Data.DTO.Dashboard;
}


<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stock List</h3>
            </div>
            <div class="panel-body">
                <a asp-area="" asp-controller="Dashboard" asp-action="Tickers">See All</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Exchange</th>
                            <th scope="col">Asset Type</th>
                            <th scope="col">Price Currency</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticker in Model.TickerList)
                        {
                            <tr>
                                <td><a href="#">@ticker.ticker</a></td>
                                <td>@ticker.exchange</td>
                                <td>@ticker.assetType</td>
                                <td>@ticker.priceCurrency</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-8">

        <div class="panel-heading">
            <h3 class="panel-title">EOD List</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Day Date</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Volume</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eod in Model.EODList)
                    {
                        <tr>
                            <td>@eod.Day.Date</td>
                            <td>@eod.Ticker.ticker</td>
                            <td>@eod.Open</td>
                            <td>@eod.High</td>
                            <td>@eod.Low</td>
                            <td>@eod.Close</td>
                            <td>@eod.Volume</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
